Please use the following API secret when communicating with Spacelift
programmatically:

f4546860d9423364539bac75838b8c2e9b45835bc7ba90a239275eb3c77231a2

Please add this snippet to your .terraformrc file if you want to use this API
key to access Spacelift-hosted Terraform modules outside of Spacelift:

credentials "spacelift.io" {
token = "YXBpOjAxSE1NVFBUM1BHRVhBSkVKMVEzRkFDTUVXOmY0NTQ2ODYwZDk0MjMzNjQ1MzliYWM3NTgzOGI4YzJlOWI0NTgzNWJjN2JhOTBhMjM5Mjc1ZWIzYzc3MjMxYTI"
}
